.navigation {
  a {
    &:focus {
      outline: none;
    }
  }
  .logo {
    background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);
    background: linear-gradient(to right, #8e44ad 0%, #c0392b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: auto;
    display: inline-block;
    position: relative;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    &:before {
      font-family: 'Pacifico', cursive;
      content: 'pregs';
      position: absolute;
      left: 0;
      top: -10px;
      font-size: 1rem;
    }
  }
}
