<div class="search-list">
  <br>
  <div class="card" v-for="item in resultCollection">
    <div class="card-header">
      <h5> {{item.name}}</h5>
    </div>
    <div class="card-body">
      <p>
        <strong>Verdict:</strong> {{item.verdict}}</p>
      <p>
        <strong v-if="item.snippet">**{{item.snippet}}**</strong>
      </p>
      <h6 v-if="isEmpty(item.avoidCollection)">Avoid the following</h6>
      <ul v-if="isEmpty(item.avoidCollection)">
        <li v-for="avoidItem in item.avoidCollection">
          {{avoidItem}}
        </li>
      </ul>
      <h6 v-if="isEmpty(item.safeCollection)">Safe to eat</h6>
      <ul v-if="isEmpty(item.safeCollection)">
        <li v-for="safeItem in item.safeCollection">
          {{safeItem}}
        </li>
      </ul>
      <p class="card-text" v-html="item.description"></p>
      <h6 class="card-subtitle mb-2 text-muted">source: {{item.source}}</h6>

    </div>
  </div>
</div>
